.flagUK {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/langfr-225px-Flag_of_the_United_Kingdom_%283-5%29.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagFR {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg/langfr-1920px-Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagCH {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Flag_of_Switzerland_%28Pantone%29.svg/langfr-1280px-Flag_of_Switzerland_%28Pantone%29.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagCO {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Flag_of_Corsica.svg/langfr-2560px-Flag_of_Corsica.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagBR {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Gwenn_ha_Du_%2811_mouchetures%29.svg/langfr-1920px-Gwenn_ha_Du_%2811_mouchetures%29.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagUS {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/langfr-1920px-Flag_of_the_United_States.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagNL {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}
