.flagUK {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagFR {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/93/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%29.svg");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagCH {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f2/Civil_Ensign_of_Switzerland.svg");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagCO {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Flag_of_Corsica.svg/langfr-2560px-Flag_of_Corsica.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagBR {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/21/Drapeau_de_la_Bretagne_-_Gwenn_Ha_Du.svg");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagUS {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_the_United_States_%281777%E2%80%931795%29.svg");
  object-fit: contain;
  background-repeat: no-repeat;
}

.flagNL {
  margin: $pad-T-B $pad-L-R;
  background-size: contain;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png");
  object-fit: contain;
  background-repeat: no-repeat;
}
