.m-image__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  //cursor: zoom-in;
}
.m-video__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

#video-margin {
  margin-top: -4px;
}

.a-image__description__item {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  background-color: $second;
  padding: 1px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.m-image__wrapper {
  background-color: $first;
  &:hover .a-image__description__item {
    opacity: 1;
  }
}
picture {
  width: 100%;
  height: 100%;
}

img {
  @include media("<=desktop") {
    width: 100vw;
  }
  @include media(">=desktop") {
    width: 50vw;
  }
}

video {
  object-fit: fill; // Supprime les deux bords latéraux blanc présent sur safari
}
.iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: $first;
}
.iframe-portait {
  aspect-ratio: 9 / 16;
  width: 100%;
  background-color: $first;
}

//div de taille fullscreen desktop
.fullscreen {
  @include media(">=desktop") {
    border-color: black;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    object-fit: cover;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIJJREFUeNpiYGBg+I8Hf0KisQJGqAJiACM2QRZCCoix4D8JrgCBhUAciM0L6C7gAuIYIH4KxD+g8nJAPBcqrwPEV/G5QIFAAIOwIxMBrxECXPi8wAHEHkD8BIh/QtWBvLAVKm8GxKfJCcSpQOxLSizglWch0c8YgImA/Gc0GgMABBgAaiQu/TORGycAAAAASUVORK5CYII=),
      pointer;
  }
}
