.m-image__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  cursor: zoom-in;
}
.m-video__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

#video-margin {
  margin-top: -4px;
}

.a-image__description__item {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  background-color: $second;
  padding: 1px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.m-image__wrapper {
  background-color: $first;
  &:hover .a-image__description__item {
    opacity: 1;
  }
}
img {
  width: 100%;
}
video {
  object-fit: fill; // Supprime les deux bords latéraux blanc présent sur safari
}
.iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: $first;
}

.fullscreen {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  contain: cover;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIJJREFUeNpiYGBg+I8Hf0KisQJGqAJiACM2QRZCCoix4D8JrgCBhUAciM0L6C7gAuIYIH4KxD+g8nJAPBcqrwPEV/G5QIFAAIOwIxMBrxECXPi8wAHEHkD8BIh/QtWBvLAVKm8GxKfJCcSpQOxLSizglWch0c8YgImA/Gc0GgMABBgAaiQu/TORGycAAAAASUVORK5CYII=),
    pointer;
}
