.m-image__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.8.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 28 28' style='enable-background:new 0 0 28 28;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230E1111;%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%230E1111;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FCFCFC;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='19,13.2 19,14.8 14.8,14.8 14.8,19 13.2,19 13.2,14.8 9,14.8 9,13.2 13.2,13.2 13.2,9 14.8,9 14.8,13.2 '/%3E%3Cpath class='st1' d='M14,3.2C8.1,3.2,3.2,8.1,3.2,14S8.1,24.8,14,24.8S24.8,19.9,24.8,14S19.9,3.2,14,3.2z M14,23.2 c-5.1,0-9.2-4.1-9.2-9.2S8.9,4.8,14,4.8s9.2,4.1,9.2,9.2S19.1,23.2,14,23.2z'/%3E%3Cpath class='st2' d='M14,4.8c-5.1,0-9.2,4.1-9.2,9.2s4.1,9.2,9.2,9.2s9.2-4.1,9.2-9.2S19.1,4.8,14,4.8z M19,14.8h-4.2V19h-1.5v-4.2 H9v-1.5h4.2V9h1.5v4.2H19V14.8z'/%3E%3C/svg%3E%0A")
      10 10,
    zoom-in; // cursors converti svg en data path
}

.m-video__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  object-fit: contain;
}

#video-margin {
  margin-top: -4px;
}

.a-image__description__item {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  background-color: $second;
  padding: 1px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.m-image__wrapper {
  background-color: $first;
  &:hover .a-image__description__item {
    opacity: 1;
  }
}

picture {
  @include media(">=desktop") {
    width: 50%;
  }
}

img {
  border-style: none;
  box-sizing: border-box;
  display: block;
  @include media(">=desktop") {
    //pose pb sur mobile avec intense.js
    max-width: 100%;
  }
}

video {
  border: none;
  object-fit: contain; // Supprime les deux bords latéraux blanc présent sur safari
  max-width: 100%;
}

// UNIQUEMENT POUR LES LIENS VIMEO
.iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: $first;
}
