/*::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #000000 !important;
  background: linear-gradient(0deg, rgb(219, 219, 219) 0%, rgb(31, 31, 31) 50%) !important;
  border-radius: 0;
}
*/

html {
  /* For Firefox */
  overflow-y: scroll;
  scrollbar-color: #5c5c5c #30303000;
  scrollbar-width: thin;
}

/* For Chrome and other browsers except Firefox */
::-webkit-scrollbar {
  width: 0.5em;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: rgb(214, 213, 213);
  background: radial-gradient(circle, rgb(114, 113, 113) 0%, rgb(24, 25, 26) 100%);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgb(212, 212, 212);
  cursor: grab !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 154, 243);
}
