@font-face {
  font-family: "Sang Neuf Sans Mono";
  src: url(/public/fonts/SangNeufSansMono-Regular.eot);
  src: url(/public/fonts/SangNeufSansMono-Regular.eot?#iefix) format("embedded-opentype"),
    url(/public/fonts/SangNeufSansMono-Regular.woff2) format("woff2"),
    url(/public/fonts/SangNeufSansMono-Regular.woff) format("woff"),
    url(/public/fonts/SangNeufSansMono-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
