/**
   * = 01 - VARIABLE TYPO
   * ------------------------------------------------------------------------- */
$level-1: 0.579rem; // 9.26
$level-2: 0.694rem; // 11.11
$level-3: 0.833rem; // 13.33
$type-basis: 1rem; //16px
$level-4: 1.333rem; // 19.20
$level-5: 1.777rem; // 23.04
$level-6: 2.368rem; // 27.65
$level-7: 2.074rem; // 33.18
$level-8: 2.488rem; // 39.81
$level-9: 2.986rem; // 47.78
$level-10: 3.583rem; // 57.33

/**
    * = 02 - VARIABLE LINE-HEIGHT
    * ------------------------------------------------------------------------- */
$line-height-1: 1rem;
$line-height-2: 1.333rem;
$line-height-3: 1.777rem;

// COLONNES GRID //
$col: 3.5rem;

// COLORS //
$first: black;
$second: white;
$third: rgb(124, 124, 124);

// BORDERS //
$border: 1px solid $first;

// PADDING //
$pad-L-R: 10px;
$pad-T-B: 5px;

// MARGIN //
$marg: 10px;
