<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-MMYGTWLBXW');

//- Basic Header meta
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="Description" content="PPOffice (Panama Papers Office) is a creative studio based in Paris.")
meta(name="Copyright" content="Panama Papers Office")
meta(name="Robots" content="index, follow")
meta(name="Geography" content="Paris France")
meta(name="Category" content="Design")
link(rel="stylesheet" href="../public/css/prefixed/style.css")
link(rel="icon" type="image/gif" href="/public/img/favicon/favicon.gif")
link(rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png")
link(rel="manifest" href="/public/img/favicon/site.webmanifest")

//-Google Icons
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

//- TYPOGRAPHIES
include typography