nav.o-navbar__container
    ul.m-navbar__wrapper
        a(href="/index.html")
            li.a-navbar__item._slideHover#__buttonReturnHome PPO
        li.a-navbar__item#name_panamaPapersOffice Panama Papers.Office
