section.o-navigation_buttons
    ul.m-navigation_buttons
        a#colLeft.a-navigation_buttons._slideHover(href=previousProject) Previous project 
        a.a-navigation_buttons._slideHover(href=nextProject) Next project 