//-TYPOGRAPHIE INSTALLEES : 
//- ROBOTO MONO : REGULAR MEDIUM
//- ROBOTO SANS SERIF : ITAL REGULARE MEDIUM
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap" rel="stylesheet")
